<h1> Bicycles</h1>


{{#each Bicycle}}
    <hr>
    <div>

        <a href="/bicycles/{{this_id}}">
        <h2>
            <li>
                {{this.title}}
            </li>
        </h2>
        </a>
        <h5> Year: {{this.year}}</h5>
        <h5> Brand: {{this.brand}}</h5>
        <h5>Model: {{this.model}} </h5>
    </div>
    <hr>
    {{/each}}