<h1>{{bicycle.title}}</h1>

<img src="{{bicycle.img}}" style="width: 900px" alt="Bicycle image">
<p>Brand:  {{bicycle.brand}}</p>
<p>Model: {{bicycle.model}}</p>
<p>Year: {{bicycle.year}}</p>
<p>Price: {{bicycle.price}}</p>
<p>Description: {{bicycle.description}}</p>


