<h1>{{bicycle.title}}</h1>

<img src="{{bicycle.img}}" style="width: 900px" alt="Bicycle image">
<p>Brand:  {{bicycle.brand}}</p>
<p>Model: {{bicycle.model}}</p>
<p>Year: {{bicycle.year}}</p>
<p>Price: {{bicycle.price}}</p>
<p>Description: {{bicycle.description}}</p>


<form action ="/bicycles/{{bicycle._id}}/favorited" method="POST">
<button type="submit">Favorite Bicycle</button>
</form>

<form action="/bicycles/{{bicycle._id}}/unfavorite" method="POST">
<button type="submit">Unfavorite Bicycle</button>
</form>

