<h1> User Profile</h1>

<div> Welcome, {{theUser.username}} </div>

<h3> Bicycles </h3>

{{#each theUser.bicycles}}
    <div>
        <a href=" /bicycle/{{this._id}}">
            {{this.name}}
        </a>
    </div>
    {{/each}}

{{#each theUser.accessories}}
    <div>
        <a href="/accessory/{{this._id}}">
        {{this.name}}
        </a>
    </div>
    {{/each}}